
## 環境変数の設定ファイル

## 環境設定
NODE_ENV=development

## DB
MONGO_URI=your-db-uri

## Cloudinaryの設定
CLOUDINARY_CLOUD_NAME=xxxxxxxx
CLOUDINARY_KEY=xxxxxxxx
CLOUDINARY_SECRET=xxxxxxxx

## メール送信用
EMAIL_USER=your-email
EMAIL_PASS=xxxx xxxx xxxx xxxx

## PayPayID
PAYPAY_ID=your-paypay-id