
## 環境変数の設定ファイル

## 環境設定
NODE_ENV=development

## アプリURL
APP_URL=

## DB
MONGO_URI=

## Cloudinaryの設定
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=

## メール送信用
RESEND_API_KEY=
MAIL_FROM=

## PayPayID
PAYPAY_ID=

## Session Secret
SESSION_SECRET=